body {
    background: url("../images/background.jpg");
}
h1 {
    text-align: center;
    margin-top: 50px;
    padding: 50px;
    font-size: 60px;
    font-family: fantasy;
    font-weight: bold;
    color: white;
    background-color: rgba(0, 0, 0, 0.75);
}
#submit-btn, #restart-btn {
    visibility: hidden;
    margin-top: 20px;
}
#wrapper {
    padding: 50px;
    margin: 75px 200px 75px 200px;
    text-align: center;
    line-height: 50px;
    font-size: 20px;
    font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
    color: white;
    background-color: rgba(0, 0, 0, 0.75);
}
#timer {
    font-size: 30px;
}
h3 {
    font-size: 25px;
    text-decoration: underline;
    margin-top: 20px;
}
span {
    padding-left: 20px;
    padding-right: 20px;
}
button {
    background: transparent;
    color: white;
    font-size: 20px;
    font-weight: bold;
	width: 20%;
	height: 40px;
}
button:hover {
    background-color: black;
    color: white;
}
#submit {
    margin-top: 30px;
}